
    h1{
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: darkgreen;
text-decoration: dashed;}
h2{
font-family: cursive sans-seri;
 color: blueviolet;
 font-style: italic;}
 
p{font-family: Arial, Helvetica, sans-serif;
    color: black;

